Descriptive Statistics:
- Peek At Your Data.
    - Head
    - Tail
    - sample
- Dimensions of Your Data.
    - shape
- Data Types.
    - dtypes
- Class Distribution.
    - size 
    - count
- Data Summary.
- Correlations.
    - Rank correlation : spearman
    - Pearson correlation
- Skewness.
- kurtosis.

In [1]:
import pandas as pd
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(r"./Datasets/pima-indians-diabetes.csv",names=names,header=None)

In [2]:
# Peak
df.head(7) # head top 7 rows by default 5

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1

In [3]:
df.tail() # tail returns bottom rows , by default 5

     preg  plas  pres  skin  test  mass   pedi  age  class
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

In [4]:
df.sample(n=6) # sample returns random number of rows
# or can ask  frac=0.25 i.e. sample 25% of total sample

     preg  plas  pres  skin  test  mass   pedi  age  class
435     0   141     0     0     0  42.4  0.205   29      1
725     4   112    78    40     0  39.4  0.236   38      0
611     3   174    58    22   194  32.9  0.593   36      1
333    12   106    80     0     0  23.6  0.137   44      0
36     11   138    76     0     0  33.2  0.420   35      0
362     5   103   108    37     0  39.2  0.305   65      0

In [5]:
# dimensions of data
print("(rows,columns) are {}".format(df.shape))

(rows,columns) are (768, 9)

In [6]:
# dtypes
print("Dtypes of \n{}".format(df.dtypes))

Dtypes of
preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [7]:
# class distribution
print("Class distribution \n",df.groupby('class').size().to_string())

Class distribution
 class
0    500
1    268

In [8]:
# Data Summary
df.describe()
# all terms are pretty standard

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
# correlation
print("Rank correlation \n",df.corr(method='spearman'))

Rank correlation
            preg      plas      pres      skin      test      mass      pedi  \
preg   1.000000  0.130734  0.185127 -0.085222 -0.126723  0.000132 -0.043242
plas   0.130734  1.000000  0.235191  0.060022  0.213206  0.231141  0.091293
pres   0.185127  0.235191  1.000000  0.126486 -0.006771  0.292870  0.030046
skin  -0.085222  0.060022  0.126486  1.000000  0.541000  0.443615  0.180390
test  -0.126723  0.213206 -0.006771  0.541000  1.000000  0.192726  0.221150
mass   0.000132  0.231141  0.292870  0.443615  0.192726  1.000000  0.141192
pedi  -0.043242  0.091293  0.030046  0.180390  0.221150  0.141192  1.000000
age    0.607216  0.285045  0.350895 -0.066795 -0.114213  0.131186  0.042909
class  0.198689  0.475776  0.142921  0.089728  0.066472  0.309707  0.175353

            age     class
preg   0.607216  0.198689
plas   0.285045  0.475776
pres   0.350895  0.142921
skin  -0.066795  0.089728
test  -0.114213  0.066472
mass   0.131186  0.309707
pedi   0.042909  0.175353
age    1.000000  0.309040
class  0.309040  1.000000

In [10]:
# correlation
print("Pearson correlation \n",df.corr(method='pearson'))

Pearson correlation
            preg      plas      pres      skin      test      mass      pedi  \
preg   1.000000  0.129459  0.141282 -0.081672 -0.073535  0.017683 -0.033523
plas   0.129459  1.000000  0.152590  0.057328  0.331357  0.221071  0.137337
pres   0.141282  0.152590  1.000000  0.207371  0.088933  0.281805  0.041265
skin  -0.081672  0.057328  0.207371  1.000000  0.436783  0.392573  0.183928
test  -0.073535  0.331357  0.088933  0.436783  1.000000  0.197859  0.185071
mass   0.017683  0.221071  0.281805  0.392573  0.197859  1.000000  0.140647
pedi  -0.033523  0.137337  0.041265  0.183928  0.185071  0.140647  1.000000
age    0.544341  0.263514  0.239528 -0.113970 -0.042163  0.036242  0.033561
class  0.221898  0.466581  0.065068  0.074752  0.130548  0.292695  0.173844

            age     class
preg   0.544341  0.221898
plas   0.263514  0.466581
pres   0.239528  0.065068
skin  -0.113970  0.074752
test  -0.042163  0.130548
mass   0.036242  0.292695
pedi   0.033561  0.173844
age    1.000000  0.238356
class  0.238356  1.000000

In [11]:
# skewness ( for normal distribution it is 0)
print("Skewness \n",df.skew().to_string())

Skewness
 preg     0.901674
plas     0.173754
pres    -1.843608
skin     0.109372
test     2.272251
mass    -0.428982
pedi     1.919911
age      1.129597
class    0.635017

In [12]:
# Excess kurtosis ( for normal distribution it is 0)
print("kurtosis \n",df.kurt().to_string())

kurtosis
 preg     0.159220
plas     0.640780
pres     5.180157
skin    -0.520072
test     7.214260
mass     3.290443
pedi     5.594954
age      0.643159
class   -1.600930